<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>


  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center black-text text-lighten-2" text-color:>The Gary Larson Foundation</h1>
        <div class="row center">
          <h5 class="header col s12 light">Together,we can make a difference in the lives of children with cancer.</h5>
        </div>
           <div class="parallax"><img src="https://scontent-yyz1-1.xx.fbcdn.net/v/t1.0-9/1185892_564430916948088_2052358177_n.jpg?oh=e20bb761d121d04463d9b8f10df6921b&oe=58CF858C"></div>
        <div class="row center">
          <a href="https://www.crowdrise.com/the-gary-larsen-foundation" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Donate here</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="" alt="trophy.jpg"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <!-- <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2> -->
            <h5 class="center">HOW WE HELP</h5>

            <p class="light">The Gary Larsen Foundation was founded on passion, love, and the strength of friendship. Our profits go to aid children and their families in the fight against childhood cancer. Join us in our efforts to improve the lives of children everywhere. All of our proceeds go to Make a Wish Foundation, Ronald McDonald House, Happiness is Camping, and the Leukemia Lymphoma Society.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <!-- <h2 class="center brown-text"><i class="material-icons">group</i></h2> -->
            <h5 class="center">Story</h5>

            <p class="light">In 2001 Gary Larsen passed away from Leukemia. Gary Larsen was one of those people who had an infectious spirit. He was a best friend, a husband and a father who inspired everyone and anyone who crossed his path. And so, when he passed away, his closest friends and family could not let Gary's spirit go unremembered. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <!-- <h2 class="center brown-text"><i class="material-icons">settings</i></h2> -->
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

<div class="row center">
          <a href="/posts/index" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Join The Community</a>
        </div>

  <div class="carousel">
    <a class="carousel-item" href="#one!"><img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/11751756_930421390349037_6266780466240447780_n.jpg?oh=c7e76adcaeda7f70b65541dee1fc31d8&oe=58C21661"></a>
    <a class="carousel-item" href="#two!"><img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/11063815_930419793682530_6438227583097994270_n.jpg?oh=bce52f1e1aad8719cf7da029dfe7b00d&oe=58C0E85A"></a>
    <a class="carousel-item" href="#three!"><img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/11745593_930420467015796_4215154589214215506_n.jpg?oh=79bd5ba96f7b488c60b3c7129ac7d464&oe=58BAEAE4"></a>
    <a class="carousel-item" href="#four!"><img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/11214172_930422020348974_2934756831582741568_n.jpg?oh=3c05a210359ff3aa8efc5b016497262a&oe=58BEDD4F"></a>
    <a class="carousel-item" href="#five!"><img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/11745935_930420250349151_4592093788822185177_n.jpg?oh=54c863c7e7ccc95fa676d20295ddad34&oe=58CFE3FF"></a>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="https://scontent-lga3-1.xx.fbcdn.net/t31.0-8/11054307_934108759980300_1316615962760554040_o.jpg" alt="2Trophy"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Contact Us</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a href="mailto:someone@yoursite.com">Email Us</a> </li>
           <li><a class="white-text" href="#!">Link 2</a></li>

          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="https://github.com/Kndekaru">Miles McArdle-Coe</a>
      </div>
    </div>
  </footer>


  </body>
</html>
